# MongoDB connection string
MONGO_URI=mongodb+srv://tusharbailwal81:ekXEbcDHT94SNj9Q@cluster0.akrsr.mongodb.net/creater-dashboard

# JWT secret for signing tokens
JWT_SECRET=your_jwt_secret_here

# Twitter API Bearer token
TWITTER_BEARER_TOKEN=your_twitter_api_bearer_token_here

#Reddit API credentials
REDDIT_CLIENT_ID=your_reddit_client_id_here
REDDIT_CLIENT_SECRET=your_reddit_client_secret_here
